*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

body{
    background-color: #030305;
}

.main{
position: relative;
}

nav{
   padding: 10px 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: none;
   background-color: #030305;
}

nav ul{
    list-style: none;
    display: flex;
    gap:50px;
}

nav ul a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

nav ul a:hover{
    cursor: pointer;
    color: rgb(207, 233, 163);
}

#bar{
    display: none;
}

.content{
    display: flex;
    gap:50px;

}

.div1{
    height: 90vh;
    width: 60vw;
    background-color: #030305;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:  10vw;
    line-height: 3vh;
}

.side-nav{
    position: absolute;
   width: 150px;
   background-color: #0a0a0a4c;
   backdrop-filter: blur(10px);
   margin-left: 70vw;
   padding:20px 0px;
   border-radius: 25px;
}

.side-nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
}

.side-nav a{
    font-size: 20px;
    text-decoration: none;
}

.side-nav{
    display: none;
}

.div1 h1{
    color: rgb(207, 233, 163);
    font-size: 4vw;
    padding: 5vh 0vh;
}

.div1 p{
    color:rgba(229, 245, 202, 0.859);
    
}

.button{
    display: flex;
    gap: 15px;
}

.div1 .button button{
    width: 150px;
    padding: 10px 0px;
    font-size: 20px;
    border-radius: 25px;
    border: 1px solid white;
    margin-top: 20vh;
    color: whitesmoke;
    background-color: #030305;
}

.div1 .button button i{
    background-color: transparent;
}

.div1 .button button:hover{
    cursor: pointer;
    color: rgb(207, 233, 163);
    border: 1px solid rgb(207, 233, 163);
    filter: drop-shadow(10px 25px 50px rgb(207, 233, 163));
}


.div2{
    height: 90vh;
    width: 40vw;
     background-image: url(Avtar.jpg);
     background-size: cover;
     background-position-x: center ;
}


@media(max-width:600px){

    nav{
        padding: 15px 20px;
     }
      nav ul a{
        display: none;
      }

    #bar{
        display: block;
        font-size: 20px;
    }

    .side-nav{
        display: none;
    }

    .content{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    }

    .div1{
        width: 100vw;
        height: 40vh;
        line-height: 0vh;
    }

    .div1 h1{
        font-size: 6vw;
    }

    .div1 p{
        padding: 10px 0px;
    }

    .div1 .button button{
        margin-top: 5vh;
    }

    .div2{
        width: 320px;
        height: 320px;
        border-radius: 50%;
        filter: drop-shadow(10px 0px 30px rgb(71, 85, 45));
        
    }

   
     
}